body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #232f3e;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Alineación centrada */
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

section {
    padding: 20px;
    display: flex;
}

footer {
    background-color: #232f3e;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.product-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.product-image {
    max-width: 400px;
    max-height: 400px;
    margin-right: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-details {
    flex: 1;
    margin-left: 20px;
}

.product-details h2 {
    margin-top: 0;
    font-size: 24px;
    color: #111;
}

.product-details p {
    margin-bottom: 10px;
    line-height: 1.5;
    color: #555;
}

.product-details button {
    background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.product-details button:hover {
    background-color: #ff8c00;
}

.product-features {
    margin-top: 30px;
}

.product-features h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #111;
}

.product-features ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

.product-features ul li {
    margin-bottom: 5px;
    color: #555;
}

.product-thumbnails {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.product-thumbnail {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}

.product-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.magnify {
    position: relative;
    display: inline-block;
}

.magnify-large {
    position: absolute;
    visibility: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.magnify-large img {
    display: block;
}

.stock-quantity {
    font-size: 16px;
    color: #555;
}

/* Estilos CSS para la ventana emergente de pago */
.payment-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    visibility: hidden;
}

.payment-modal.active {
    visibility: visible;
}

.payment-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.payment-modal label {
    display: block;
    margin-bottom: 10px;
}

.payment-modal input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.payment-modal button {
    background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.payment-modal button:hover {
    background-color: #ff8c00;
}
#cartContainer {
    background-color: #ff9900;
    color: #fff;
    padding: 5px 10px;
     border-radius: 5px;
     margin-right: 10px;
}

/* Usuario o no */

.user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    visibility: hidden;
}

.user-modal.active {
    visibility: visible;
}

.user-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-modal label {
    display: block;
    margin-bottom: 10px;
}

.user-modal input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.user-modal button {
    background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.user-modal button:hover {
    background-color: #ff8c00;
}
.user-selection-modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 9999;
            visibility: hidden;
        }

        .user-selection-modal.active {
            visibility: visible;
        }

        .user-selection-modal-content {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .user-selection-modal label {
            display: block;
            margin-bottom: 10px;
        }

        .user-selection-modal input {
            width: 100%;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
        }

        .user-selection-modal button {
            background-color: #ff9900;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 18px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .user-selection-modal button:hover {
            background-color: #ff8c00;
        }

        .payment-modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 9999;
            visibility: hidden;
        }

        .payment-modal.active {
            visibility: visible;
        }

        .payment-modal-content {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .payment-modal label {
            display: block;
            margin-bottom: 10px;
        }

        .payment-modal input {
            width: 100%;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
        }

        .payment-modal button {
            background-color: #ff9900;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 18px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .payment-modal button:hover {
            background-color: #ff8c00;
        }

        #cartContainer {
            background-color: #ff9900;
            color: #fff;
            padding: 5px 10px;
            border-radius: 50%;
            font-size: 14px;
            position: absolute;
            top: 30px;
            left: 1370px;
        }
        .error-message {
            color: red;
            font-weight: bold;
          }

          .section-divider {
            border-bottom: 1px solid #ccc;
            margin-bottom: 20px;
          }

          .product-bottom  {
            max-width: 100%;
            height: auto;
          }

          .product-bottom h4 {
            text-align: center;
          }

          .product-bottom {
            margin-right: 20px;
          }

          .product-bottom {
            display: flex;
            justify-content: center;
            text-align: center;
          }

          .bottom-section {
            display: flex;
            justify-content: center;
          }

          .product-bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-right: 10px;
          }

          .product-bottom img {
            margin-bottom: 10px
          }



         .bottom-section {
           text-align: center;
          }

        .more-products-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
        }

        .more-products {
            font-size: 24px;
           font-weight: bold;
        }

        .product-bottom-container {
           display: flex;
           justify-content: center;
           flex-wrap: wrap;
        }

        .product-bottom {
          margin: 0 10px;
          flex: 0 0 calc(33.33% - 20px);
          max-width: calc(33.33% - 20px);
        }

        .comments-section {
            text-align: center;
            margin-bottom: 20px;
        }

        .comments-section h2 {
            font-size: 24px;
            font-weight: bold;
        }

        .comment-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .comment {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .comment-avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .comment-content {
            text-align: left;
        }

        .comment-author {
            font-weight: bold;
        }

        .comment-text {
            margin-top: 5px;
        }